body {

background: #2C2B3D;
margin: 0;
font-weight: normal;



}

nav{

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 71px 98px 0 99px;


}


h1 {
  font-family: 'JetBrains Mono', monospace;
  color: #FFF;
  font-size: 36px;


}
h1 span{
  color: #00BFA6;


}
section p {

  font-family: 'Open Sans', sans-serif;
  color: #C2C2C2;
  font-size: 16px;
  font-style: normal;





}

section{
  margin-left: 82px;
}

p span {

  color: #00BFA6;




}

nav ul{
  
  font-family: 'JetBrains Mono', monospace;
  display: flex;
  list-style: none;
  font-size: 14px;
  gap: 48px;
  margin: 0;
  padding: 0;
  

}

ul:hover {

  font-weight: bold;
  opacity: 1;




}

ul a {

  color: #FFF;
  text-decoration: none;




}

main {

display: flex;
justify-content: space-between;
margin: 202px 89px 235px 99px

}
#line{

  width: 568.001px;
  height: 1px;
  background: #00BFA6;
  margin: 157px auto 27px;




}
footer, a {
  font-family: 'JetBrains Mono', monospace;
 text-align: center;
 color: #FFF;
 text-decoration: none;
 margin-bottom: 23px;
 font-size: 14px;


}

#cadeado {

position: fixed;
bottom: 0;


}